body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:548px;
  overflow:hidden;
  touch-action:none;
}
#u763_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:548px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u763_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u764 {
  position:absolute;
  left:0px;
  top:0px;
}
#u764_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:1579px;
  background-image:none;
}
#u764_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1579px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1579px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:782px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:614px;
  width:375px;
  height:46px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:621px;
  width:353px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:428px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:375px;
  height:428px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:283px;
  width:186px;
  height:25px;
}
#u776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:55px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
