body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:68px;
  width:90px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:68px;
  width:90px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:168px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:168px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:267px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:267px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:267px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:367px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:367px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:367px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:467px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:467px;
  width:124px;
  height:99px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
