body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:621px;
  width:375px;
  height:46px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:75px;
  width:373px;
  height:546px;
  overflow:hidden;
  touch-action:none;
}
#u969_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:546px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u969_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
}
#u970_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:8210px;
  background-image:none;
}
#u970_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8210px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8210px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4097px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:7692px;
  width:157px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:6811px;
  width:154px;
  height:51px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:6811px;
  width:155px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u977 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:89px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:89px;
  width:70px;
  height:30px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:84px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:55px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:428px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:375px;
  height:428px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:283px;
  width:186px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:55px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u987 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:628px;
  width:200px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u988 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:17px;
  width:109px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u989 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:628px;
  width:77px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u990 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:628px;
  width:34px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u991 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:628px;
  width:54px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:209px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:385px;
  width:365px;
  height:209px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:64px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:596px;
  width:365px;
  height:64px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:224px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:370px;
  width:363px;
  height:224px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:64px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:596px;
  width:363px;
  height:64px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:12px;
  top:378px;
  touch-action:pan-y;
}
#u1002_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
  background-image:none;
}
#u1002_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
  visibility:hidden;
  background-image:none;
}
#u1002_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:209px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
